.logo{
    width: 150px;
}

.login{
    margin-left: 20px;
}

#newTrain{
    margin-top: 20px;
    border: 1px solid rgb(178, 220, 221);
    padding: 20px;
    border-radius: 6px;
}

.button-submit{
    text-align: right;
}

